.card-img, .card-overlay, .hamburger-menu .menu {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #262626;
}

.navbar {
  position: relative;
}
.navbar-navigation {
  display: flex;
}
.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  z-index: 10;
  left: -50vw;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}
@media (max-width: 800px) {
  .navbar-navigation-left {
    display: none;
  }
}
.navbar-navigation-left .left-img {
  width: 50%;
  position: absolute;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  border-radius: 10px;
}
@media (max-width: 1300px) {
  .navbar-navigation-left .left-img {
    width: 55%;
  }
}
@media (max-width: 1000px) {
  .navbar-navigation-left .left-img {
    width: 65%;
  }
}
.navbar-navigation-left .left-img-1 {
  top: 15%;
  left: 15%;
}
@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-1 {
    left: 5%;
  }
}
.navbar-navigation-left .left-img-2 {
  top: 35%;
  left: 25%;
}
@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-2 {
    left: 15%;
  }
}
.navbar-navigation-left .left-img-3 {
  top: 55%;
  left: 35%;
}
@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-3 {
    left: 25%;
  }
}
.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  z-index: 10;
  right: -50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
@media (max-width: 800px) {
  .navbar-navigation-right {
    right: -100vw;
    width: 100vw;
  }
}
.navbar-navigation .nav-list-item {
  list-style: none;
}
.navbar-navigation .nav-list-link {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #bbb;
  text-decoration: none;
  display: block;
  margin: 20px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}
.navbar-navigation .nav-list-link:hover {
  color: #d3ab55;
  letter-spacing: 4px;
}
@media (max-width: 600px) {
  .navbar-navigation .nav-list-link {
    font-size: 40px;
  }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) center no-repeat;
  background-size: cover;
}
.header .brand {
  display: flex;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
  .header .brand {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.header-banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-us {
  height: 90vh;
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .about-us {
    height: 70vh;
  }
}
.about-us-left {
  width: 40%;
  position: relative;
  left: -200px;
}
@media (max-width: 1300px) {
  .about-us-left {
    left: -150px;
  }
}
@media (max-width: 800px) {
  .about-us-left {
    display: none;
  }
}
.about-us-left img {
  width: 100%;
  opacity: 0.7;
}
.about-us-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
  box-sizing: border-box;
}
@media (max-width: 1300px) {
  .about-us-right {
    padding: 0 50px;
  }
}
@media (max-width: 800px) {
  .about-us-right {
    width: 100%;
  }
}
.about-us-right .stars {
  margin: 30px 0;
}
@media (max-width: 1000px) {
  .about-us-right .stars {
    margin: 15px 0;
  }
}
.about-us-right .star {
  font-size: 15px;
  color: #d3ab55;
  margin-left: 10px;
}
@media (max-width: 1000px) {
  .about-us-right .star {
    font-size: 12px;
  }
}
.about-us-right .description {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-style: italic;
  color: #bbb;
  text-align: justify;
}
.about-us-right .description::first-letter {
  padding-left: 50px;
}
@media (max-width: 1600px) {
  .about-us-right .description {
    font-size: 18px;
  }
}
@media (max-width: 1000px) {
  .about-us-right .description {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .about-us-right .description {
    font-size: 12px;
  }
}

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 500px) {
  .footer {
    padding: 40px 0;
  }
}
.footer-header {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.footer .social-media {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 70px;
}
@media (max-width: 500px) {
  .footer .social-media {
    width: 200px;
    margin-bottom: 40px;
  }
}
.footer .social-media-item {
  list-style: none;
}
.footer .social-media-link {
  text-decoration: none;
  font-size: 50px;
  color: #bbb;
  transition: color 0.7s ease-in-out;
}
.footer .social-media-link:hover {
  color: #d3ab55;
}
@media (max-width: 1000px) {
  .footer .social-media-link {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
  .footer .social-media-link {
    font-size: 25px;
  }
}
.footer-copyright-paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}
@media (max-width: 800px) {
  .footer-copyright-paragraph {
    width: 70%;
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .footer-copyright-paragraph {
    font-size: 14px;
  }
}

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 20;
  top: 10%;
  right: 5%;
}
@media (max-width: 800px) {
  .hamburger-menu {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 500px) {
  .hamburger-menu {
    width: 25px;
    height: 25px;
  }
}
.hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  transform-origin: right;
  transition: all 0.3s 0.3s ease-in-out;
}
@media (max-width: 800px) {
  .hamburger-menu .menu-line {
    height: 3px;
  }
}
@media (max-width: 500px) {
  .hamburger-menu .menu-line {
    height: 2px;
  }
}

.logo {
  font-size: 70px;
  color: #d3ab55;
  display: block;
  width: 110px;
  height: 110px;
  border: 3px solid #d3ab55;
  border-radius: 50%;
  margin-right: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .logo {
    font-size: 50px;
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 500px) {
  .logo {
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-width: 2px;
  }
}

.main-name {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .main-name {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .main-name {
    font-size: 20px;
    text-align: center;
  }
}

.sub-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #bbb;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .sub-name {
    font-size: 12px;
    text-align: center;
  }
}

.main-heading {
  font-family: "Dancing Script", cursive;
  font-size: 100px;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 40px;
}
@media (max-width: 1600px) {
  .main-heading {
    font-size: 80px;
  }
}
@media (max-width: 1000px) {
  .main-heading {
    font-size: 60px;
  }
}
@media (max-width: 500px) {
  .main-heading {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 80px;
  text-align: center;
}
@media (max-width: 1600px) {
  .sub-heading {
    font-size: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 1300px) {
  .sub-heading {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1000px) {
  .sub-heading {
    font-size: 30px;
  }
}
@media (max-width: 1000px) {
  .sub-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.main-btn {
  width: 170px;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d3ab55;
  background-color: transparent;
  border: 1px solid #d3ab55;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}
.main-btn:hover {
  background-color: #d3ab55;
  color: #262626;
}
@media (max-width: 800px) {
  .main-btn {
    width: 150px;
    height: 35px;
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .main-btn {
    width: 130px;
    height: 30px;
    font-size: 10px;
  }
}

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;
}
.card:hover .card-overlay {
  left: 0;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(211, 171, 85, 0.6);
  color: #fff;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: left 0.7s ease-in-out;
}
.card-overlay-heading {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}
@media (max-width: 900px) {
  .card-overlay-heading {
    font-size: 35px;
  }
}
@media (max-width: 600px) {
  .card-overlay-heading {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .card-overlay-heading {
    display: none;
  }
}
.card-overlay-paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}
@media (max-width: 900px) {
  .card-overlay-paragraph {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .card-overlay-paragraph {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .card-overlay-paragraph {
    display: none;
  }
}
.card-overlay-btn {
  width: 150px;
  height: 40px;
  color: #d3ab55;
  background-color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #d3ab55;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}
@media (max-width: 900px) {
  .card-overlay-btn {
    font-size: 12px;
    width: 130px;
    height: 30px;
  }
}
@media (max-width: 600px) {
  .card-overlay-btn {
    font-size: 10px;
    width: 100px;
    height: 30px;
  }
}
.card-img {
  object-fit: cover;
  opacity: 0.5;
}
