.navbar {
    position: relative;

    &-navigation {
        display: flex;

        &-left {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            z-index: 10;
            left: -50vw;
            transition: left .8s cubic-bezier(1, 0, 0, 1);

            @media(max-width: 800px) {
                display: none;
            }

            .left-img {
                width: 50%;
                position: absolute;
                box-shadow: 0 15px 60px rgba($color-black, .4);
                opacity: .7;
                border-radius: 10px;

                @media(max-width: 1300px) {
                    width: 55%;
                }

                @media(max-width: 1000px) {
                    width: 65%;
                }

                &-1 {
                    top: 15%;
                    left: 15%;

                    @media(max-width: 1000px) {
                        left: 5%;
                    }
                }

                &-2 {
                    top: 35%;
                    left: 25%;

                    @media(max-width: 1000px) {
                        left: 15%;
                    }
                }

                &-3 {
                    top: 55%;
                    left: 35%;

                    @media(max-width: 1000px) {
                        left: 25%;
                    }
                }
            }
        }

        &-right {
            width: 50vw;
            height: 100vh;
            background-color: darken($color-dark, 20%);
            position: fixed;
            z-index: 10;
            right: -50vw;
            @include flexLayout;
            transition: right .8s cubic-bezier(1, 0, 0, 1);

            @media(max-width: 800px) {
                right: -100vw;
                width: 100vw;
            }
        }

        .nav-list {
            &-item {
                list-style: none;
            }

            &-link {
                font-family: $font-dancingScript;
                font-size: 50px;
                @include textStyles(capitalize);
                color: $color-secondary;
                text-decoration: none;
                display: block;
                margin: 20px;
                text-align: center;
                transition: all .4s ease-in-out;

                &:hover {
                    color: $color-primary;
                    letter-spacing: 4px;
                }

                @media(max-width: 600px) {
                    font-size: 40px;
                }
            }
        }
    }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~.hamburger-menu .menu {
    transform: rotateZ(90deg);
}

.checkbox:checked ~.hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}

.checkbox:checked ~.hamburger-menu .menu-line-2 {
    opacity: 0;
}

.checkbox:checked ~.hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}


.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: 
        linear-gradient(rgba($color-black, .8), rgba($color-black, .6)),
        url(../images/bg.jpeg) center no-repeat;
    background-size: cover;

    .brand {
        display: flex;
        align-items: center;
        @include centering(15%);

        @media(max-width: 500px) {
            @include centering(12%);
        }
    }

    &-banner {
        text-align: center;
        @include centering(50%);
    }
}

.about-us {
    height: 90vh;
    display: flex;
    align-items: center;

    @media(max-width: 900px) {
        height: 70vh;
    }

    &-left {
        width: 40%;
        position: relative;
        left: -200px;

        @media(max-width: 1300px) {
            left: -150px;
        }

        @media(max-width: 800px) {
            display: none;
        }

        img {
            width: 100%;
            opacity: .7;
        }
    }

    &-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        box-sizing: border-box;

        @media(max-width: 1300px) {
            padding: 0 50px;
        }

        @media(max-width: 800px) {
            width: 100%;
        }

        .stars {
            margin: 30px 0;

            @media(max-width: 1000px) {
                margin: 15px 0;
            }
        }

        .star {
            font-size: 15px;
            color: $color-primary;
            margin-left: 10px;

            @media(max-width: 1000px) {
                font-size: 12px;
            }
        }

        .description {
            font-family: $font-josefinSans;
            font-size: 25px;
            font-style: italic;
            color: $color-secondary;
            text-align: justify;

            &::first-letter {
                padding-left: 50px;
            }

            @media(max-width: 1600px) {
                font-size: 18px;
            }

            @media(max-width: 1000px) {
                font-size: 14px;
            }

            @media(max-width: 500px) {
                font-size: 12px;
            }
        }
    }
}

.gallery {
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer {
    padding: 70px 0;
    @include flexLayout;
    flex-direction: column;

    @media(max-width: 500px) {
        padding: 40px 0;
    }

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

    .social-media {
        display: flex;
        width: 300px;
        justify-content: space-between;
        margin-bottom: 70px;

        @media(max-width: 500px) {
            width: 200px;
            margin-bottom: 40px;
        }
        

        &-item {
            list-style: none;
        }

        &-link {
            text-decoration: none;
            font-size: 50px;
            color: $color-secondary;
            transition: color .7s ease-in-out;

            &:hover {
                color: $color-primary;
            }

            @media(max-width: 1000px) {
                font-size: 35px;
            }

            @media(max-width: 500px) {
                font-size: 25px;
            }
        }
    }

    &-copyright-paragraph {
        font-family: $font-josefinSans;
        font-size: 18px;
        color: $color-secondary;
        @include textStyles(capitalize);

        @media(max-width: 800px) {
            width: 70%;
            margin: auto;
            text-align: center;
        }

        @media(max-width: 500px) {
            font-size: 14px;
        }
    }
}